In [5]:
import numpy
import pandas as pd

## Load data

In [16]:
url = 'https://raw.githubusercontent.com/fivethirtyeight/guns-data/master/interactive_data.csv'
df = pd.read_csv(url)
df.head(5)

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

## Preprocessing

In [38]:
print(df["Intent"].unique())
df_filtered = df.loc[~(df=='None selected').any(axis=1)]
print(df_filtered["Intent"].unique())
df_filtered.head(5)

['None selected' 'Suicide' 'Homicide' 'Accident' 'Unknown']
['Suicide' 'Homicide' 'Accident' 'Unknown']

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
151,152,Suicide,Female,Under 15,White,19,15355910,0.1
152,153,Suicide,Female,Under 15,Black,1,4095428,0.0
153,154,Suicide,Female,Under 15,Hispanic,4,7330024,0.1
154,155,Suicide,Female,Under 15,Asian/Pacific Islander,1,1393440,0.1
155,156,Suicide,Female,Under 15,Other,0,1661877,0.0

### Suicides

In [28]:
nb_deaths = df_filtered["Deaths"].sum()
nb_deaths_suicide = df_filtered[df_filtered["Intent"]=="Suicide"]["Deaths"].sum()
print('Out of {} gun deaths, {} were suicides which corresponds to {}%.'.format(nb_deaths, nb_deaths_suicide, int(100*nb_deaths_suicide/nb_deaths)))

Out of 33595 gun deaths, 21058 were suicides which corresponds to 62%.

### Suicide victims gender

In [36]:
nb_deaths_suicide_male = df_filtered[df_filtered["Intent"]=="Suicide"]
nb_deaths_suicide_male = nb_deaths_suicide_male[nb_deaths_suicide_male["Gender"]=="Male"]["Deaths"].sum()
print('Out of {} suicides, {} suicide victims were male which corresponds to {}%.'.format(nb_deaths_suicide, nb_deaths_suicide_male, int(100*nb_deaths_suicide_male/nb_deaths_suicide)))

Out of 21058 suicides, 18161 suicide victims were male which corresponds to 86%.

### Homicides

In [45]:
df_deaths_homicides = df_filtered[df_filtered["Intent"]=="Homicide"]
nb_deaths_homicide = df_deaths_homicides["Deaths"].sum()
print('Out of {} gun deaths, {} were homicides which corresponds to {}%.'.format(nb_deaths, nb_deaths_homicide, int(100*nb_deaths_homicide/nb_deaths)))

Out of 33595 gun deaths, 11727 were homicides which corresponds to 34%.

### Homicide victims

In [47]:
df_deaths_homicides_male = df_deaths_homicides[df_deaths_homicides["Gender"]=="Male"]
df_deaths_homicides_male_middle_age = df_deaths_homicides_male[df_deaths_homicides_male["Age"]=="15 - 34"]
nb_deaths_homicides_male_middle_age = df_deaths_homicides_male_middle_age["Deaths"].sum()
df_deaths_homicides_male_middle_age_black = df_deaths_homicides_male_middle_age[df_deaths_homicides_male_middle_age["Race"]=="Black"]
nb_deaths_homicides_male_middle_age_black = df_deaths_homicides_male_middle_age_black["Deaths"].sum()

print('Out of {} homicides who are males in the age group of 15--34, {} victims were Black which corresponds to {}%.'.format(nb_deaths_homicides_male_middle_age, nb_deaths_homicides_male_middle_age_black, int(100*nb_deaths_homicides_male_middle_age_black/nb_deaths_homicides_male_middle_age)))

Out of 6521 homicides who are males in the age group of 15--34, 4312 victims were Black which corresponds to 66%.

### Women as victims in homicides

In [44]:
nb_deaths_homicides = df_deaths_homicides["Deaths"].sum()
nb_deaths_homicides_female = df_deaths_homicides[df_deaths_homicides["Gender"]=="Female"]["Deaths"].sum()
print('Out of {} homicide victims, {} victims were female which corresponds to {}%.'.format(nb_deaths_homicides, nb_deaths_homicides_female, int(100*nb_deaths_homicides_female/nb_deaths_homicides)))

Out of 11727 homicide victims, 1793 victims were female which corresponds to 15%.